<link rel="stylesheet" href="/public/dashboard.css">
<head>
    <title>Hasfy.pl</title>
    <link rel="icon" sizes="192x192" href="<%= client.user.displayAvatarURL({ dynamic: true }) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="header">
        <a href="/" class="logo">Hasfy.pl</a>
        <div class="header-right">
            <a href="/">Strona główna</a>
            <a href="/invite">Dodaj bota</a>
            <a href="/support">Serwer Wsparcia</a>
            <% if(user) { %>
            <a href="/dashboard"><%- user.username %>#<%- user.discriminator %></a>
            <% } else { %>
            <a href="/login">Zaloguj</a>
            <% } %>
        </div>
    </div>
</head>

<body>
    <center>
<br>
<% if (guild.icon) { %>
    <img class="rounded-circle" width="200" height="200" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png` %>">
<% } else { %>
    <img class="rounded-circle" width="200" height="200" src="<%= `https://cdn.discordapp.com/attachments/699927066849574913/726529574069862440/Bez_nazwy.png` %>">
<% } %>
<h1><%- guild.name %></h1>
<br>
<br>
<h1>Wybierz, czym będziesz dzisiaj zarządzać <%- user.username %>!</h1>
</b>
<div class="card">
    <br>
    <img class="rounded-circle" width="100" height="100" src="https://cdn.discordapp.com/emojis/795259980101582879.png?v=1">
    <br>
    <h2>Ustawienia Prefixu i Kanału</h2>
    <br>
    <a href="/dashboard/<%- guild.id %>/settings"><button class="btngreen">Zarządzaj</button></a>
    <br>
</div>
<br>
<div class="card">
    <br>
    <img class="rounded-circle" width="100" height="100" src="https://cdn.discordapp.com/emojis/794166379228954654.png?v=1">
    <br>
    <h2>Ustawienia Reklamowe</h2>
    <br>
    <a href="/dashboard/<%- guild.id %>/ads"><button class="btngreen">Zarządzaj</button></a>
    <br>
</div>
<br>
<div class="card">
    <br>
    <img class="rounded-circle" width="100" height="100" src="https://cdn.discordapp.com/emojis/785167255302307870.png?v=1">
    <br>
    <h2>Ustawienia Custom URL</h2>
    <br>
    <a href="/dashboard/<%- guild.id %>/customlink"><button class="btngreen">Zarządzaj</button></a>
    <br>
</div>
</center>
</body>
    <div style="margin-right: 16px; min-width: 250px;">
<p class="hvwg31-1 bwxDch">© 2020 - 2021 | Autorzy strony: Hamish.dev#3003 & Sebt08#9999</p>