<link rel="stylesheet" href="/public/dashboard.css">
<head>
    <title>Hasfy.pl</title>
    <link rel="icon" sizes="192x192" href="<%= client.user.displayAvatarURL({ dynamic: true }) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="header">
        <a href="/" class="logo">Hasfy.pl</a>
        <div class="header-right">
            <a href="/">Strona główna</a>
            <a href="/invite">Dodaj bota</a>
            <a href="/support">Serwer Wsparcia</a>
            <% if(user) { %>
            <a href="/dashboard"><%- user.username %>#<%- user.discriminator %></a>
            <% } else { %>
            <a href="/login">Zaloguj</a>
            <% } %>
        </div>
    </div>
</head>
<body>
    <br>
    <br>
    <center>
        <% if(alert) { %>
            <div class="alert<%- color %>">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <%- alert %>
            </div>
            <% } %>
        </center>
    <center>
        <br>
        <% if (guild.icon) { %>
            <img class="rounded-circle" width="200" height="200" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png` %>">
        <% } else { %>
            <img class="rounded-circle" width="200" height="200" src="<%= `https://cdn.discordapp.com/attachments/699927066849574913/726529574069862440/Bez_nazwy.png` %>">
        <% } %>
        <br>
        <h1><%- guild.name %></h1>
        <br>
<form method="POST">
    <br>
    <h2>Ustaw własny prefix serwera!</h2>
    <input type="text" id="prefix" name="prefix" style="width: 20%" value="<%- guildSettings.prefix %>">
    <br>
    <br>
    <h2>Ustaw własny kanał reklam!</h2>
    <select id="channel" name="channel">
        <% if(guildSettings.channel && client.channels.cache.get(guildSettings.channel)) { %>
            <% let channelname = client.channels.cache.get(guildSettings.channel).name %>
        <option value="<%- guildSettings.channel %>"><%- channelname %></option>
        <% } else { %>
            <option></option>
            <% } %>
        <% guild.channels.cache.forEach(ch => { %>
            <% if(ch.id == guildSettings.channel) { %>
            
                <% } else { %>
<% if(ch.type !== "category" && ch.type !== "voice") { %>
        <option value="<%- ch.id %>"><%- ch.name %></option>
<% } %>
<% } %>
       <% }) %>
        </select>
        <br>
    <br>
    <br>
    <br>
    <br>
    <button type="submit" class="btngreen" id="save">Zapisz</button>
</form>
<a href="/dashboard/<%- guild.id %>"><button class="btnred">Powrót</button></a>
</center>
</body>
<br>
<br>
        <div style="margin-right: 16px; min-width: 250px;">
    <p class="hvwg31-1 bwxDch">© 2020 - 2021 | Autorzy strony: Hamish.dev#3003 & Sebt08#6275</p>
<!--
moze kurwa diva zamknijcie
~ Aleks
-->