<link rel="stylesheet" href="/public/index.css">
    <head>
        <title>Hasfy.pl</title>
        <meta charset="utf-8">
        <meta property="og:site_name" content="Wspierane przez Hasfy.pl">
        <meta property="og:description" content="Hasfy.pl to nowy innowacyjny bot reklamowy który zdobył zaufanie 90 serwerów w zaledwie 4 dni! Nie zwlekaj i dodaj go już teraz!">
        <meta property="og:title" content="Hasfy.pl | Dashboard">
        <meta property="og:image" content="<%= client.user.displayAvatarURL({ dynamic: true }) %>">
        <meta property="keywords" content="Hasfy, bot discord, discord">
        <link rel="icon"  sizes="192x192" href="<%= client.user.displayAvatarURL({ dynamic: true }) %>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="header">
            <a href="/" class="logo">Hasfy.pl</a>
            <div class="header-right">
                <a class="active" href="/">Strona główna</a>
                <a href="/invite">Dodaj bota</a>
                <a href="/support">Serwer Wsparcia</a>
                <% if(user) { %>
                <a href="/dashboard"><%- user.username %>#<%- user.discriminator %></a>
                <% } else { %>
                <a href="/login">Zaloguj</a>
                <% } %>
            </div>
        </div>
    </head>
<body>
    <center>
    <br>
    <img class="rounded-circle" width="150" height="150" src="<%= client.user.displayAvatarURL({ dynamic: true }) %>">
    <h1><%= client.user.username %></h1>
    <br>
    <h2>*zaoszczędze wam tej gadki o innowacyjności bota*</h2>
    <div class="fz1i6o-1 Row hlBFRk" style="border-bottom: 1px solid rgb(48, 49, 52); align-items: flex-start; padding-top: 64px; margin-bottom: 0px;">
        <div style="margin-right: 16px; min-width: 250px;">
            </div>
            </div>
            <br>
            <h2>Co Hasfy.pl może ci zaoferować?</h2>
            <br>
            <br>
            <h10>Strona głowna [*] bo chciałem wam panel dać szybko pff</h10>

            
        </center>
</body>
<div class="snowflakes">
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
    <div class="snowflake">
        •
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div style="margin-right: 16px; min-width: 250px;">
        <img class="rounded-circle" width="50" height="50" src="<%= client.user.displayAvatarURL({ dynamic: true }) %>">
<h4>© 2020 - 2021 | Autorzy strony: Hamish.dev#3003 & Sebt08#9999</h4>